.nav {
    position: absolute;
    left: 330px;
    top: 10px;
    margin-bottom: 10px;
}

.botao-navegacao {
    margin-bottom: 5px;
}

.main {
    max-width: 300px;
}

.container-cabecalho {
    max-width: 500px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: justify;
}
.input-x {
    position: relative;
    display: inline-block;
    width: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.input-alunos {
    /* position: relative; */
    width: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.botao-resultado {
    display: inline-block;
    position: relative;
    /* margin-top: 5px; */
}
.botao-limpar{
    /* margin-top: 5px; */
    margin-bottom: 5px;
}

.container-resultado {
    /* max-width: 150px; */
    height: 50px;
    border: 1px solid black;
}

#resultado {
    text-align: center;
}

.table, th, td {
    border: 1px solid black;
}
