.main {
    max-width: 300px;
}

.container-cabecalho {
    max-width: 500px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: justify;
}

.botao-resultado {
    position: relative;
    top: 10px;
}

.container-resultado {
    max-width: 150px;
}
.table, th, td {
    border: 1px solid black;
}